
.logo= image_tag('logo.png')

%h1 Welcome to Points Cloud
%p A loyalty rewards game for active shoppers.

%p To play just make a purchase at your favourite stores. 
%p You be sent an SMS with your reward points plus a link with chance to win more and bonus rewards. 

- if signed_in?
  %p= link_to "My account", vendor_path(current_user.vendors.first)
- else
  %p= link_to "sign in", new_user_session_path, class: "btn btn-info"

